<div class="card">
    <div class="card-body">
        <form>
            <!-- todo: convert to model and use MVC HTML helpers -->
            <div class="form-group">
                <label for="mojangUsername">Mojang Username</label>
                <input type="email" class="form-control" id="mojangUsername" placeholder="Enter email..."/>
            </div>
            <div class="form-group">
                <label for="mojangPassword">Password</label>
                <input type="password" class="form-control" id="mojangPassword" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-primary float-right">Log On</button>
        </form>
    </div>
</div>