@using MSM.Core
@model IEnumerable<MSM.Core.User>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Admin</th>
            <th>Allowed Servers</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model) {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>
                    @if (@user.IsServerAdmin) {
                        <i class="fa fa-check"></i>
                    }
                </td>
                <td>@user.AllowedServers</td>
                <td>
                    <button type="button" class="btn btn-sm btn-default" data-dialog="/Admin/EditUser/@user.Id"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <a class="button" asp-controller="Admin" asp-action="FindUser">Find User</a>
</div>